@charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1em;
     width: 100vw;
     height: 100vh;
     overflow-x: hidden; 
     background-color: white;
}

header {
      color: white;
      padding: 30px;
      background-color: rgb(14, 203, 209);

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
}

header > h1 {
     font-size: 2.1em;
     flex: 0 0 200px;
     text-shadow: 2px 2px 0px rgb(6, 219, 226);
     padding: 10px;

}

header > nav {
     display: flex;
     flex-flow: row wrap;
     justify-content: flex-end;
}

header > nav > a {
    margin: 5px;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(36, 187, 187);

}

header > nav > a:hover {
    color: rgb(240, 232, 232);
    background-color: rgb(34, 206, 206);
    transition: background-color1.0s;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: white;
    
}

.img1 {
    background-color: white;
    background-repeat: no-repeat;
    background-position:fixed ;
}

.container {
   margin: -4px;
   padding: 10px;
   color: rgb(240, 232, 232);
   background-color: darkcyan;
  

   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
}

.texto {
  font-family: "PT Serif", serif;
  font-size: 2.5em;
  padding: 10px;
  color:white;
  text-shadow: 1.4px 1.4px 0px rgb(6, 219, 226);

}

.img2 { 
  margin:20px;
  margin-right: 25px;
  border-radius: 20px;
  

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.texto2 {
  font-family: "PT Serif", serif;
  font-size: 2.2em;
  margin: 10px;
  color: white;
  text-align: center;
  border-radius: 35px;
  background-color: darkcyan; 
  text-shadow: 1.0px 1.0px 0px rgb(6, 219, 226);
 
}

.botão {
  font-size: 1.8em;
  width: 80vw;
  height: 8vh;
  margin-left: 100px;
  color: white;
  cursor: pointer;
  border: 2px solid blue;
  border-radius: 15px;
  background-color: darkcyan;
 
}

.botão:hover {
  color: rgb(213, 213, 233);
  background-color: rgb(6, 109, 109);
  
}

/*Todas as imagens foram retiradas do site pixabay*/


